{:did        "did:web:etzhayyim.github.io:com-etzhayyim-watari"
 :handle     "watari.etzhayyim.com"
 :ipns-key   "watari-actor"
 :graph-type "com.etzhayyim.watari.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
